@using LogicaOdontologia.DTO;

@{
    ViewData["Title"] = "ListarPacientes";
}
<div class="row pb-2 justify-content-center">
    <div class="col-sm-2"><a class="btn btn-primary" asp-controller="Pacientes" asp-route-Tipo_Lista="Lipieza Dental">Filtar Por Necesitan hacerse una limpieza dental</a></div>
    <div class="col-sm-2"><a class="btn btn-danger" asp-controller="Pacientes" asp-route-Tipo_Lista="Seguimiento Ortodoncia">Filtar Por seguimiento a su tratamineto de ortodoncia</a></div>
    <div class="col-sm-2"><a class="btn btn-secondary" asp-controller="Pacientes" asp-route-Tipo_Lista="Lipieza Caries">Filtar Por seguimineto a su tratamiento de caries</a></div>
    <div class="col-sm-2"><a class="btn btn-warning" asp-controller="Pacientes" asp-route-Tipo_Lista="Tratamiento Especifico">Filtar Por seguimineto a su tratamiento especifico</a></div>
    <div class="col-sm-2"><a class="btn btn-success" asp-controller="Pacientes" asp-route-Tipo_Lista="ListaCompleta">Refresh <i class="fa-solid fa-arrow-rotate-left px-2"></i></a></div>
</div>
<div class="containerFull">
    <table class="table">
        <thead>
            <tr>
                <th class="table-dark">
                    Nombre Completo
                </th>
                <th class="table-dark">
                    DPI o CUI
                </th>
                <th class="table-dark">
                    Edad
                </th>
                <th class="table-dark">
                    Teléfono de contacto
                </th>
                <th class="table-dark">
                    Fecha Ultima Constulta
                </th>
                <th class="table-dark">
                    Fecha Proxima Consulta
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["ListaPacientes"] as List<PacienteDTO>)
            {
                <tr class="table-info">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Completo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DPI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefonoContacto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_ultima_consulta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_proxima_consulta)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>